<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ianfox.betternotifications" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:exported="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".BzzzService"
            android:enabled="true"
            android:exported="false">
        </service>

    </application>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <!--<receiver android:process=":remote" android:name=".Alarm"></receiver>-->
    <receiver android:name=".Alarm" android:exported="true">
        <intent-filter>
            <action android:name="ianfox.betternotifications.START_ALARM" >
            </action>
        </intent-filter>
    </receiver>
    <receiver android:name=".AutoStart">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED"></action>
        </intent-filter>
    </receiver>


</manifest>
